/* 
    Created on : 15.04.2017, 22:19:35
    Author     : Manuel
*/

body {
    margin: 0;
    padding: 0;
}

/* Paddings */

.padding-sm {
    padding: 5px;
}

.padding-md {
    padding: 12px;
}

.padding-lg {
    padding: 20px;
}

/* Images */
.main-image {
    max-width: 800px;
    height: auto;
}

/* Image Upload */

/* ===================== FILE INPUT ===================== */
.file-area {
    width: 100%;
    position: relative;
}
.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.file-area .file-dummy {
    width: 100%;
    padding: 30px;
    background-color: rgba(46, 204, 113,0.5) !important;
    text-align: center;
    transition: background 0.3s ease-in-out;
}
.file-area .file-dummy .success {
    display: none;
}
.file-area:hover .file-dummy {
    background: rgba(255, 255, 255, 0.1);
}
.file-area input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type=file]:valid + .file-dummy {
    background-color: rgba(46, 204, 113,0.5) !important;
}
.file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
    display: none;
}

/* ===================== BASIC STYLING ===================== */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.imgLabelText  label {
    font-weight: 500;
    display: block;
    margin: 4px 0;
    text-transform: uppercase;
    font-size: 13px;
    overflow: hidden;
}
.imgLabelText span {
    text-transform: none;
    font-weight: 200;
    line-height: 1em;
    font-style: italic;
    opacity: 0.6;
    margin-left: 10px;
}

#imgUpload .form-controll {
    display: block;
    padding: 8px 16px;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(52, 152, 219,1.0);
    font-weight: 200;
}
#imgUpload .form-controll:focus {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
}

#imgUpload button {
    padding: 8px 30px;
    background-color: rgba(46, 204, 113, 1.0) !important;
    color: white !important;
    font-weight: 600;
    font-size: 11px;
    border: 0;
    cursor: pointer;
}

#imgUpload .form-group {
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
}




